<div class="row">

  <div class="col-6">
    <app-donuts title="Ventas"></app-donuts>
  </div>

  <div class="col-6">
    <app-donuts   title="Compras"
                  [labels]="labels1"
                  [data]="data1"
    >
    </app-donuts>
  </div>

</div>

<div class="row">

  <div class="col-6">
    <app-donuts   title="Cambios"
                  [labels]="labels2"
                  [data]="data2"
    >
    </app-donuts>
  </div>

  <div class="col-6">
    <app-donuts title="Devoluciones"></app-donuts>
  </div>

</div>
